In [50]:
import pandas as pd
import utils as U
from datetime import datetime
import numpy as np
import data_ingestion
import os
pd.set_option('display.max_columns', None)

## report handler

In [51]:
import imp
import report_handler
imp.reload(report_handler)
config = U.get_config("config.ini")

In [52]:
r_obj = report_handler.ReportHandler(config)
r_obj.transform_tms_data()
r_obj.transform_active_employee_data()
r_obj.transform_license_data()
self = r_obj

In [53]:
r_obj.active_employee_data

,server_name,customer_name,schema_name,active_employees_count,stack,env,stack_env
0,cust04-prd01-ins01-wfm40-dbs-03.int.prd.mykron...,ANGELINI PHARMA SPA PRD,angelinipharmaspa_prd_01,564,cust04,prd01,cust04-prd01
1,cust04-prd01-ins01-wfm40-dbs-03.int.prd.mykron...,Betfred SA PRD,betfredsa_prd_02,1329,cust04,prd01,cust04-prd01
2,cust04-prd01-ins01-wfm40-dbs-03.int.prd.mykron...,B and M Retail Limited - PRD,bmretail_prd_01,0,cust04,prd01,cust04-prd01
3,cust04-prd01-ins01-wfm40-dbs-03.int.prd.mykron...,CEVA France SASU PRD,ceva_logistics_prd_01,2113,cust04,prd01,cust04-prd01
4,cust04-prd01-ins01-wfm40-dbs-03.int.prd.mykron...,ADP-CNHIndustrial PRD,cnhindustrial_prd_01,3385,cust04,prd01,cust04-prd01
...,...,...,...,...,...,...,...
13619,dcus21-prd17-ins01-wfm15-dbs-03.int.prd.mykron...,OpsMonDCUS21PRD17WFM15,opsmond21pr17wfm15_prd_02,0,dcus21,prd17,dcus21-prd17
13620,dcus21-prd17-ins01-wfm16-dbs-03.int.prd.mykron...,OpsMonDCUS21PRD17WFM16,opsmond21pr17wfm16_prd_02,0,dcus21,prd17,dcus21-prd17
13621,dcus21-prd17-ins01-wfm17-dbs-03.int.prd.mykron...,OpsMonDCUS21PRD17WFM17,opsmond21pr17wfm17_prd_02,0,dcus21,prd17,dcus21-prd17
13622,dcus21-prd17-ins01-wfm18-dbs-03.int.prd.mykron...,OpsMonDCUS21PRD17WFM18,opsmond21pr17wfm18_prd_01,0,dcus21,prd17,dcus21-prd17
13623,dcus21-prd17-ins01-wfm19-dbs-03.int.prd.mykron...,OpsMonDCUS21PRD17WFM19,opsmond21pr17wfm19_prd_01,0,dcus21,prd17,dcus21-prd17

In [54]:
active_data_analysis = r_obj.active_employee_data.groupby(["schema_name", "stack_env"]).agg(
    cust_list=("customer_name", list),
    employee_count_list=('active_employees_count', list),
    customer_count = ("customer_name", 'count')
).reset_index()

In [55]:
active_data_analysis.to_excel("active_data_analysis.xlsx", index=False)

In [56]:
active_data_analysis[active_data_analysis['customer_count']>1]

Empty DataFrame
Columns: [schema_name, stack_env, cust_list, employee_count_list, customer_count]
Index: []

In [57]:
r_obj.license_data

,server_name,customer_name,schema_name,license_type,license_count,stack,env,stack_env,unique
0,cust01-npr01-ins01-wfm10-dbs-03.int.npr.mykron...,actsretirement-uat,actsretirement_nonprd_08,HC_ANALYTICS,0,cust01,npr01,cust01-npr01,0
1,cust01-npr01-ins01-wfm10-dbs-03.int.npr.mykron...,actsretirement-uat,actsretirement_nonprd_08,WORK,0,cust01,npr01,cust01-npr01,1
2,cust01-npr01-ins01-wfm10-dbs-03.int.npr.mykron...,actsretirement-uat,actsretirement_nonprd_08,COMMUNICATIONS,0,cust01,npr01,cust01-npr01,2
3,cust01-npr01-ins01-wfm10-dbs-03.int.npr.mykron...,actsretirement-uat,actsretirement_nonprd_08,ACCRUALS_AND_LEAVES,0,cust01,npr01,cust01-npr01,3
4,cust01-npr01-ins01-wfm10-dbs-03.int.npr.mykron...,actsretirement-uat,actsretirement_nonprd_08,ACCRUALS,0,cust01,npr01,cust01-npr01,4
...,...,...,...,...,...,...,...,...,...
352470,kcfn01-evl01-ins01-wfm10-dbs-03.int.evl.mykron...,xteam-3,xteam_nonprd_05,WORKFORCE_HR_EMPLOYEE,0,kcfn01,evl01,kcfn01-evl01,352470
352471,kcfn01-evl01-ins01-wfm10-dbs-03.int.evl.mykron...,xteam-3,xteam_nonprd_05,WORKFORCE_HR_INTERACTIVE_EMPLOYEE,0,kcfn01,evl01,kcfn01-evl01,352471
352472,kcfn01-evl01-ins01-wfm10-dbs-03.int.evl.mykron...,xteam-3,xteam_nonprd_05,CORE_ANALYTICS,43,kcfn01,evl01,kcfn01-evl01,352472
352473,kcfn01-evl01-ins01-wfm10-dbs-03.int.evl.mykron...,xteam-3,xteam_nonprd_05,TELESTAFF,0,kcfn01,evl01,kcfn01-evl01,352473
352474,kcfn01-evl01-ins01-wfm10-dbs-03.int.evl.mykron...,xteam-3,xteam_nonprd_05,COMMUNICATIONS,0,kcfn01,evl01,kcfn01-evl01,352474

In [58]:
r_obj.pivot_license_data

license_type,customer_name,schema_name,stack_env,ABSENCE_MANAGEMENT,ACCRUALS,ACCRUALS_AND_LEAVES,ADVANCED_PLANNING_SCHEDULING,ADVANCED_SCHEDULING,COMMUNICATIONS,CORE_ANALYTICS,HC_ANALYTICS,HOURLY_TIMEKEEPING,INTERACTIVE_LICENSES,PLANNER,PRODUCT_LICENSES,SALARIED_TIMEKEEPING,TELESTAFF,WORK,WORKFORCE_CENTRAL_LICENSES,WORKFORCE_HR_EMPLOYEE,WORKFORCE_HR_INTERACTIVE_EMPLOYEE,WORKFORCE_MANAGER,WORKFORCE_MOBILE_EMPLOYEE,WORKFORCE_MOBILE_MANAGER,WORKFORCE_PROFESSIONAL_EMPLOYEE,WORKFORCE_SCHEDULER_EMPLOYEE,WORKFORCE_TABLET_EMPLOYEE,WORKFORCE_TABLET_MANAGER
0,01_supporttestsuite,t_01_ref_01,cust01-npr02,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03-kgsAPIworkshop cfn05,t_03_nonprd_03,kcfn01-cfn05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,09supporttestsuite,t_09supporttestsuite_prd_01,cust01-prd09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1-supporttestsuite,t_1_supporttestsuite_prd_01,cust01-prd01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,121352 Canada Inc PRD,t_121352canadainc_prd_01,cust02-prd01,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13770,zaddons-qa,zaddons_nonprd_02,kcfn01-cfn06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2625.0,NaN,NaN,NaN
13771,zellis-demo,zellis_nonprd_07,kcfn01-cfn06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2553.0,NaN,NaN,NaN
13772,zellis-dev,zellis_nonprd_06,kcfn01-cfn06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2641.0,NaN,NaN,NaN
13773,zeus-prd,zeus_prd_01,cust01-prd04,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13774,zipline01,zipline_int_01,kcfn01-cfn05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2330.0,NaN,NaN,NaN

In [59]:
license_data_analysis = r_obj.pivot_license_data.groupby(["schema_name", "stack_env"]).agg(
    cust_list=("customer_name", list),
    customer_count = ("customer_name", 'count')
).reset_index()

In [60]:
license_data_analysis

,schema_name,stack_env,cust_list,customer_count
0,a2b_nonprd_01,dcus11-npr10,[ADP-a2b NPR],1
1,a2b_prd_01,dcus11-prd10,[ADP-a2b PRD],1
2,a59o7_nonprd_01,cust01-npr06,[ADP-a59o7 NPR],1
3,a59o7_prd_01,cust01-prd06,[ADP-a59o7 PRD],1
4,a_supporttestsuite_prd_01,cust03-prd01,[cxcmb],1
...,...,...,...,...
13770,zmodularllc_nonprd_02,cust01-npr05,[Z MODULAR LLC UAT],1
13771,zoetisllc_nonprd_01,cust01-npr09,[ZOETIS LLC - UAT],1
13772,zoonswgovau_nonprd_06,cust03-npr01,[Taronga Conservation Society Australia UAT2 NPR],1
13773,zoonswgovau_nonprd_07,cust03-npr01,[Taronga Conservation Society Australia UAT NPR],1
13774,zoonswgovau_prd_02,cust03-prd01,[Taronga Conservation Society Australia PRD],1

In [61]:
license_data_analysis[license_data_analysis['customer_count']>1]

Empty DataFrame
Columns: [schema_name, stack_env, cust_list, customer_count]
Index: []

In [62]:
r_obj.tms_data

,Servername,tenant_id,tenant_name,tenanttype,solution_id,schema_name,instance_name,environment_name,custom_tags,jdbc_url,vanity_urls,creation_date,first_creation_date,wfm_cluster_name,absence_management_entitlement,workforce_scheduler_employee_entitlement,hourly_timekeeping_entitlement,core_analytics_entitlement,hc_analytics_entitlement,advanced_scheduling_entitlement,accruals_and_leaves_entitlement,accruals_entitlement,salaried_timekeeping_entitlement,optimized_scheduling_with_forecasting_entitlement,work_entitlement,prod_envs,nonprod_envs,vendor_name,stack,env,stack_env
0,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,18789,bwaycorp-uat,Customer Non-Production,6042806,bwaycorp_nonprd_02,npr02_ins01,npr02,BWAY CORP,jdbc:edb://cust01-npr02-ins01-wfm18-dbs-01.int...,bwaycorp-uat.npr.mykronos.com,2023-07-12 03:48:10.994,2021-05-13 08:35:19.203,cust01-npr02-ins01-wfm18-fnt.int.npr.mykronos.com,7200,0,7200,7200,0,0,0,0,0,0,0,1,1,KRONOS,cust01,npr02,cust01-npr02
1,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,15648,SHEPPARD MULLIN RICHTER HAMPTON LLP PRD,Customer Production,6000430,sheppardmullin_prd_01,prd09_ins01,prd09,SHEPPARD MULLIN RICHTER & HAMPTON LLP##SF-0328...,jdbc:edb://cust01-prd09-ins01-wfm12-dbs-01.int...,"sheppardmullin.prd.mykronos.com, sheppardmulli...",2022-06-01 07:01:44.514,2022-06-01 07:01:44.514,cust01-prd09-ins01-wfm12-fnt.int.prd.mykronos.com,0,0,2100,2100,0,0,0,2100,0,0,0,1,1,KRONOS,cust01,prd09,cust01-prd09
2,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,19703,penncolor-uat,Customer Non-Production,6132914,penncolor_nonprd_01,npr05_ins01,npr05,PENN COLOR##SF-02246748##SO-30201##,jdbc:edb://cust01-npr05-ins01-wfm10-dbs-01.int...,"penncolor-uat.npr.mykronos.com, penncolor-uat-...",2023-11-09 11:39:55.708,2020-07-01 02:26:25.904,cust01-npr05-ins01-wfm10-fnt.int.npr.mykronos.com,575,0,575,0,0,0,0,0,0,0,400,1,1,KRONOS,cust01,npr05,cust01-npr05
3,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,12312,University Of CO Police Dept UAT,Customer Non-Production,6178127,UofCOPoliceDept_nonprd_01,npr07_ins01,npr07,University Of CO Police Dept##SF-02678879####,jdbc:edb://cust01-npr07-ins01-wfm13-dbs-01.int...,UofCOPoliceDept-uat.npr.mykronos.com,2021-04-19 05:23:40.031,2021-04-19 05:23:40.031,cust01-npr07-ins01-wfm13-fnt.int.npr.mykronos.com,0,0,0,0,0,0,0,0,0,0,0,0,1,KRONOS,cust01,npr07,cust01-npr07
4,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,2456,DELAWARE NORTH COMPANIES INCORPORATED PRD,Customer Production,6022120,delawarenorth_prd_01,prd01_ins01,prd01,"DELAWARE NORTH COMPANIES, INCORPORATED",jdbc:edb://cust01-prd01-ins01-wfm14-dbs-01.int...,"delawarenorth-sso.prd.mykronos.com, delawareno...",2019-04-08 16:34:41.819,2019-04-08 16:34:41.819,cust01-prd01-ins01-wfm14-fnt.int.prd.mykronos.com,41000,0,41000,41000,0,41000,0,0,0,41000,0,1,1,KRONOS,cust01,prd01,cust01-prd01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13445,kcfn01-gss02-tms65-dbs-mas.int.gss-kcfn.mykron...,105427,dimensions-student-Bulk126n,Internal,Internal-EdSvc-Pool2,dimensions_int_37242,cfn06_ins01,cfn06,Professional Services- Customer Education##SF-...,jdbc:edb://kcfn01-cfn06-ins01-wfm13-dbs-01.int...,dimensions-student-Bulk126n.cfn.mykronos.com,2024-03-01 05:00:10.205,2023-07-29 04:11:58.388,kcfn01-cfn06-ins01-wfm13-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,1,KRONOS,kcfn01,cfn06,kcfn01-cfn06
13446,kcfn01-gss02-tms65-dbs-mas.int.gss-kcfn.mykron...,105429,dimensions-student-Bulk128n,Internal,Internal-EdSvc-Pool2,dimensions_int_37243,cfn06_ins01,cfn06,Professional Services- Customer Education##SF-...,jdbc:edb://kcfn01-cfn06-ins01-wfm13-dbs-01.int...,dimensions-student-Bulk128n.cfn.mykronos.com,2024-03-01 05:02:22.738,2023-07-29 04:14:45.742,kcfn01-cfn06-ins01-wfm13-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,1,KRONOS,kcfn01,cfn06,kcfn01-cfn06
13447,kcfn01-gss02-tms65-dbs-mas.int.gss-kcfn.mykron...,105430,dimensions-student-Bulk129n,Internal,Internal-EdSvc-Pool2,dimensions_int_37244,cfn06_ins01,cfn06,Professional Services- Customer Education##SF-...,jdbc:edb://kcfn01-cfn06-ins01-wfm13-dbs-01.int...,dimensions-student-Bulk129n.cfn.mykronos.com,2024-03-01 05:04:26.082,2023-07-29 04:17:18.21,kcfn01-cfn06-ins01-wfm13-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,1,KRONOS,kcfn01,cfn06,kcfn01-cfn06
13448,kcfn01-gss02-tms65-dbs-mas.int.gss-kcfn.mykron...,105431,dimensions-student-Bulk130n,Internal,Internal-EdSvc-Pool2,dimensions_int_37245,cfn06_ins01,cfn06,Professional Services- Customer Education##SF-...,jdbc:edb://kcfn01-cfn06-ins01-wfm13-dbs-01.int...,dimensions-student-Bulk130n.cfn.mykronos.com,2024-03-01 05:06:29.347,2023-07-29 04:28:36.541,kcfn01-cfn06-ins01-wfm13-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,1,KRONOS,kcfn01,cfn06,kcfn01-cfn06
13449,kcfn01-gss02-tms65-dbs-mas.int.gss-kcfn.mykron...,105433,dimensions-student-bulk363n,Internal,Internal-EdSvc-Pool3,dimensions_int_37246,cfn07_ins01,cfn07,Professional ##17136246##,jdbc:edb://kcfn01-cfn07-ins01-wfm65-dbs-01.int...,dimensions-student-bulk363n.cfn.mykronos.com,2024-03-01 05:18:44.37,2023-08-01 12:19:14.929,kcfn01-cfn07-ins01-wfm65-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,0,KRONOS,kcfn01,cfn07,kcfn01-cfn07

In [64]:
tms_data_analysis = r_obj.tms_data.groupby(["schema_name", "stack_env"]).agg(
    cust_list=("tenant_name", list),
    customer_count = ("tenant_name", 'count')
).reset_index()

In [65]:
tms_data_analysis[tms_data_analysis['customer_count']>1]

Empty DataFrame
Columns: [schema_name, stack_env, cust_list, customer_count]
Index: []

In [74]:
license_group = r_obj.license_data[["schema_name", "customer_name"]].drop_duplicates()

In [76]:
license_group['license_flag'] = 'license'

In [75]:
active_group = r_obj.active_employee_data[["schema_name", "customer_name"]].drop_duplicates()

In [77]:
active_group['active_flag'] = 'active'

In [80]:
active_license = pd.merge(license_group, active_group, how="outer", on = ["schema_name", "customer_name"])

In [82]:
active_license.to_excel("active_license.xlsx", index=False)

In [70]:
r_obj.active_employee_data.groupby(["schema_name"]).agg(
    cust_list=("customer_name", list),
    license_count_list = ("active_employees_count", list),
    cutomer_count = ("customer_name", 'count')
).to_excel("active_analysis.xlsx")

In [15]:
r_obj.active_employee_data.drop_duplicates()

,customer_name,schema_name,active_employees_count
0,adp-reference3-can-01,adp_ref_05,0
1,cust02-npr01-qa,c2_npr01_nonprd_02,8
2,ADP-canada3 NPR,canada3_nonprd_01,3
3,can-qa2 PRD,can_nonprd_03,0
4,THE CITY OF CALGARY UAT,cityofcalgaryparks_nonprd_02,432
...,...,...,...
97,univofrochester-stag1,univofrochester_nonprd_05,1078
98,VAIL CLINIC INC STG,vailhealth_nonprd_02,681
99,VERIZON WIRELESS STG1,verizon_nonprd_19,1785
100,WEGMANS FOOD MARKETS STG,wegmansfoodmarket_nonprd_04,2287
101,WELLSPAN HEALTH STG,wellspanhealth_nonprd_07,6698

In [34]:
r_obj.active_employee_data.drop_duplicates(
            subset=["customer_name", "schema_name"]
        )

,customer_name,schema_name,active_employees_count
0,adp-reference3-can-01,adp_ref_05,0
1,cust02-npr01-qa,c2_npr01_nonprd_02,8
2,ADP-canada3 NPR,canada3_nonprd_01,3
3,can-qa2 PRD,can_nonprd_03,0
4,THE CITY OF CALGARY UAT,cityofcalgaryparks_nonprd_02,432
...,...,...,...
97,univofrochester-stag1,univofrochester_nonprd_05,1078
98,VAIL CLINIC INC STG,vailhealth_nonprd_02,681
99,VERIZON WIRELESS STG1,verizon_nonprd_19,1785
100,WEGMANS FOOD MARKETS STG,wegmansfoodmarket_nonprd_04,2287
101,WELLSPAN HEALTH STG,wellspanhealth_nonprd_07,6698

In [57]:
r_obj.active_employee_data[r_obj.active_employee_data['schema_name'].str.startswith('adp') == True]

,customer_name,schema_name,active_employees_count
297,adp-internal-cfn05-master-01,adp_internal_nonprd_01,229
298,adp-internal-cfn05-frcst-master-01,adp_internal_nonprd_02,253
1111,adp-customs-cfn05-01,adp_customs_template_02,262
1112,adp-dev-cfn05-master-clone,adp_dev_cfn05_nonprd_01,180
1113,adp-development1-VAN-FIT-CFN05,adp_development1_nonprd_01,948
...,...,...,...
123,adp-reference03-dcus21,adp_ref_01,0
124,adp-utility01-nam-dcus21,adp_utility01_ref_01,0
99,adp-reference03-dcus11,adp_ref_04,0
100,adp-utility01-nam-dcus11,adp_utility01_ref_01,0
17,adp-reference03-dcus14,adp_ref_01,0

In [26]:
r_obj.active_employee_data.drop_duplicates(
            subset=["schema_name"]
        )

,customer_name,schema_name,active_employees_count
0,adp-reference3-can-01,adp_ref_05,0
1,cust02-npr01-qa,c2_npr01_nonprd_02,8
2,ADP-canada3 NPR,canada3_nonprd_01,3
3,can-qa2 PRD,can_nonprd_03,0
4,THE CITY OF CALGARY UAT,cityofcalgaryparks_nonprd_02,432
...,...,...,...
97,univofrochester-stag1,univofrochester_nonprd_05,1078
98,VAIL CLINIC INC STG,vailhealth_nonprd_02,681
99,VERIZON WIRELESS STG1,verizon_nonprd_19,1785
100,WEGMANS FOOD MARKETS STG,wegmansfoodmarket_nonprd_04,2287
101,WELLSPAN HEALTH STG,wellspanhealth_nonprd_07,6698

In [58]:
r_obj.active_employee_data[r_obj.active_employee_data["schema_name"]=="adp_ref_04"]

              customer_name schema_name  active_employees_count
153  adp-reference03-aus-01  adp_ref_04                       0
99   adp-reference03-dcus11  adp_ref_04                       0

In [43]:
r_obj.tms_data

,Servername,tenant_id,tenant_name,tenanttype,solution_id,schema_name,instance_name,environment_name,custom_tags,jdbc_url,vanity_urls,creation_date,first_creation_date,wfm_cluster_name,absence_management_entitlement,workforce_scheduler_employee_entitlement,hourly_timekeeping_entitlement,core_analytics_entitlement,hc_analytics_entitlement,advanced_scheduling_entitlement,accruals_and_leaves_entitlement,accruals_entitlement,salaried_timekeeping_entitlement,optimized_scheduling_with_forecasting_entitlement,work_entitlement,prod_envs,nonprod_envs,vendor_name
0,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,18789,bwaycorp-uat,Customer Non-Production,6042806,bwaycorp_nonprd_02,npr02_ins01,npr02,BWAY CORP,jdbc:edb://cust01-npr02-ins01-wfm18-dbs-01.int...,bwaycorp-uat.npr.mykronos.com,2023-07-12 03:48:10.994,2021-05-13 08:35:19.203,cust01-npr02-ins01-wfm18-fnt.int.npr.mykronos.com,7200,0,7200,7200,0,0,0,0,0,0,0,1,1,KRONOS
1,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,15648,SHEPPARD MULLIN RICHTER HAMPTON LLP PRD,Customer Production,6000430,sheppardmullin_prd_01,prd09_ins01,prd09,SHEPPARD MULLIN RICHTER & HAMPTON LLP##SF-0328...,jdbc:edb://cust01-prd09-ins01-wfm12-dbs-01.int...,"sheppardmullin.prd.mykronos.com, sheppardmulli...",2022-06-01 07:01:44.514,2022-06-01 07:01:44.514,cust01-prd09-ins01-wfm12-fnt.int.prd.mykronos.com,0,0,2100,2100,0,0,0,2100,0,0,0,1,1,KRONOS
2,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,19703,penncolor-uat,Customer Non-Production,6132914,penncolor_nonprd_01,npr05_ins01,npr05,PENN COLOR##SF-02246748##SO-30201##,jdbc:edb://cust01-npr05-ins01-wfm10-dbs-01.int...,"penncolor-uat.npr.mykronos.com, penncolor-uat-...",2023-11-09 11:39:55.708,2020-07-01 02:26:25.904,cust01-npr05-ins01-wfm10-fnt.int.npr.mykronos.com,575,0,575,0,0,0,0,0,0,0,400,1,1,KRONOS
3,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,12312,University Of CO Police Dept UAT,Customer Non-Production,6178127,UofCOPoliceDept_nonprd_01,npr07_ins01,npr07,University Of CO Police Dept##SF-02678879####,jdbc:edb://cust01-npr07-ins01-wfm13-dbs-01.int...,UofCOPoliceDept-uat.npr.mykronos.com,2021-04-19 05:23:40.031,2021-04-19 05:23:40.031,cust01-npr07-ins01-wfm13-fnt.int.npr.mykronos.com,0,0,0,0,0,0,0,0,0,0,0,0,1,KRONOS
4,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,2456,DELAWARE NORTH COMPANIES INCORPORATED PRD,Customer Production,6022120,delawarenorth_prd_01,prd01_ins01,prd01,"DELAWARE NORTH COMPANIES, INCORPORATED",jdbc:edb://cust01-prd01-ins01-wfm14-dbs-01.int...,"delawarenorth-sso.prd.mykronos.com, delawareno...",2019-04-08 16:34:41.819,2019-04-08 16:34:41.819,cust01-prd01-ins01-wfm14-fnt.int.prd.mykronos.com,41000,0,41000,41000,0,41000,0,0,0,41000,0,1,1,KRONOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13445,kcfn01-gss02-tms65-dbs-mas.int.gss-kcfn.mykron...,105427,dimensions-student-Bulk126n,Internal,Internal-EdSvc-Pool2,dimensions_int_37242,cfn06_ins01,cfn06,Professional Services- Customer Education##SF-...,jdbc:edb://kcfn01-cfn06-ins01-wfm13-dbs-01.int...,dimensions-student-Bulk126n.cfn.mykronos.com,2024-03-01 05:00:10.205,2023-07-29 04:11:58.388,kcfn01-cfn06-ins01-wfm13-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,1,KRONOS
13446,kcfn01-gss02-tms65-dbs-mas.int.gss-kcfn.mykron...,105429,dimensions-student-Bulk128n,Internal,Internal-EdSvc-Pool2,dimensions_int_37243,cfn06_ins01,cfn06,Professional Services- Customer Education##SF-...,jdbc:edb://kcfn01-cfn06-ins01-wfm13-dbs-01.int...,dimensions-student-Bulk128n.cfn.mykronos.com,2024-03-01 05:02:22.738,2023-07-29 04:14:45.742,kcfn01-cfn06-ins01-wfm13-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,1,KRONOS
13447,kcfn01-gss02-tms65-dbs-mas.int.gss-kcfn.mykron...,105430,dimensions-student-Bulk129n,Internal,Internal-EdSvc-Pool2,dimensions_int_37244,cfn06_ins01,cfn06,Professional Services- Customer Education##SF-...,jdbc:edb://kcfn01-cfn06-ins01-wfm13-dbs-01.int...,dimensions-student-Bulk129n.cfn.mykronos.com,2024-03-01 05:04:26.082,2023-07-29 04:17:18.21,kcfn01-cfn06-ins01-wfm13-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,1,KRONOS
13448,kcfn01-gss02-tms65-dbs-mas.int.gss-kcfn.mykron...,105431,dimensions-student-Bulk130n,Internal,Internal-EdSvc-Pool2,dimensions_int_37245,cfn06_ins01,cfn06,Professional Services- Customer Education##SF-...,jdbc:edb://kcfn01-cfn06-ins01-wfm13-dbs-01.int...,dimensions-student-Bulk130n.cfn.mykronos.com,2024-03-01 05:06:29.347,2023-07-29 04:28:36.541,kcfn01-cfn06-ins01-wfm13-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,1,KRONOS
13449,kcfn01-gss02-tms65-dbs-mas.int.gss-kcfn.mykron...,105433,dimensions-student-bulk363n,Internal,Internal-EdSvc-Pool3,dimensions_int_37246,cfn07_ins01,cfn07,Professional ##17136246##,jdbc:edb://kcfn01-cfn07-ins01-wfm65-dbs-01.int...,dimensions-student-bulk363n.cfn.mykronos.com,2024-03-01 05:18:44.37,2023-08-01 12:19:14.929,kcfn01-cfn07-ins01-wfm65-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,0,KRONOS

In [71]:
r_obj.tms_data[r_obj.tms_data["schema_name"]=="adp_ref_05"]

,tenant_id,tenant_name,tenanttype,solution_id,schema_name,instance_name,environment_name,custom_tags,jdbc_url,vanity_urls,creation_date,first_creation_date,wfm_cluster_name,absence_management_entitlement,workforce_scheduler_employee_entitlement,hourly_timekeeping_entitlement,core_analytics_entitlement,hc_analytics_entitlement,advanced_scheduling_entitlement,accruals_and_leaves_entitlement,accruals_entitlement,salaried_timekeeping_entitlement,optimized_scheduling_with_forecasting_entitlement,work_entitlement,prod_envs,nonprod_envs,vendor_name
5206,1344,adp-reference3-can,Reference,Internal,adp_ref_05,npr01_ins01,npr01,ADP-Refrence tenant CAN##03209801,jdbc:edb://cust02-npr01-ins01-wfm20-dbs-01.int...,adp-reference03-can.npr.mykronos.com,2022-04-13 02:23:01.204,2022-04-13 02:23:01.204,cust02-npr01-ins01-wfm20-fnt.int.npr.mykronos.com,100000,100000,100000,100000,150000,100000,100000,100000,100000,0,150000,0,0,ADP

In [94]:
tms_group = r_obj.tms_data[["schema_name", "tenant_name"]].drop_duplicates()

In [95]:
tms_group['schema_name'] = tms_group['schema_name'].str.lower() 
tms_group['tenant_name'] = tms_group['tenant_name'].str.lower()

In [99]:
active_license['schema_name'] = active_license['schema_name'].str.lower() 
active_license['customer_name'] = active_license['customer_name'].str.lower()

In [96]:
tms_group = tms_group.rename(columns={'tenant_name':'customer_name'})
tms_group['tms_flag'] = 'tms'

In [100]:
active_tms_license = pd.merge(tms_group, active_license, how="outer", on =["customer_name", "schema_name"])

In [101]:
active_tms_license.to_excel("active_tms_license.xlsx", index = False)

In [105]:
r_obj.tms_data.groupby(["schema_name"]).agg(
    cust_list=("tenant_name", list),
    cutomer_count = ("tenant_name", 'count')
).to_excel("tms_analysis.xlsx")

## development

In [14]:
tms_data.head()

,server_name,db_name,tenant_id,tenant_name,tenanttype,solution_id,schema_name,instance_name,environment_name,custom_tags,...,hc_analytics_entitlement,advanced_scheduling_entitlement,accruals_and_leaves_entitlement,accruals_entitlement,salaried_timekeeping_entitlement,optimized_scheduling_with_forecasting_entitlement,work_entitlement,prod_envs,nonprod_envs,vendor_name
0,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,ppas_tms,18789,bwaycorp-uat,Customer Non-Production,6042806,bwaycorp_nonprd_02,npr02_ins01,npr02,BWAY CORP,...,0,0,0,0,0,0,0,1,1,KRONOS
1,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,ppas_tms,15648,SHEPPARD MULLIN RICHTER HAMPTON LLP PRD,Customer Production,6000430,sheppardmullin_prd_01,prd09_ins01,prd09,SHEPPARD MULLIN RICHTER & HAMPTON LLP##SF-0328...,...,0,0,0,2100,0,0,0,1,1,KRONOS
2,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,ppas_tms,19703,penncolor-uat,Customer Non-Production,6132914,penncolor_nonprd_01,npr05_ins01,npr05,PENN COLOR##SF-02246748##SO-30201##,...,0,0,0,0,0,0,400,1,1,KRONOS
3,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,ppas_tms,12312,University Of CO Police Dept UAT,Customer Non-Production,6178127,UofCOPoliceDept_nonprd_01,npr07_ins01,npr07,University Of CO Police Dept##SF-02678879####,...,0,0,0,0,0,0,0,0,1,KRONOS
4,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,ppas_tms,2456,DELAWARE NORTH COMPANIES INCORPORATED PRD,Customer Production,6022120,delawarenorth_prd_01,prd01_ins01,prd01,"DELAWARE NORTH COMPANIES, INCORPORATED",...,0,41000,0,0,0,41000,0,1,1,KRONOS

In [ ]:
Company_Code
NON_PROD_TENANT_COUNTS_LESS_500
Region
TOTAL_ENTITLEMENT_EMPLOYEE_COUNT
TOTAL_USAGE_EMPLOYEE_COUNT
Client_Move_Or_Flip

In [19]:
"Client_Move_Or_Flip".lower()

'client_move_or_flip'

In [24]:
tms_data['custom_tags'].str.split(";", )

0                                              [BWAY CORP]
1        [SHEPPARD MULLIN RICHTER & HAMPTON LLP##SF-032...
2                    [PENN COLOR##SF-02246748##SO-30201##]
3          [University Of CO Police Dept##SF-02678879####]
4                 [DELAWARE NORTH COMPANIES, INCORPORATED]
                               ...
13179        [Professional Services##SF-02282900##20126##]
13180        [Professional Services##SF-02282900##20126##]
13181        [Professional Services##SF-02282900##20126##]
13182        [Professional Services##SF-02282900##20126##]
13183        [Professional Services##SF-02282900##20126##]
Name: custom_tags, Length: 13184, dtype: object

In [22]:
tms_data['company_code'] = tms_data['custom_tags'].str.split(";", )[1].str.split("-")[1]

AttributeError: 'list' object has no attribute 'str'

In [15]:
tms_data['non_prod_tenant_counts_less_500']
tms_data['region']
tms_data['total_entitlement_employee_count']
tms_data['total_usage_employee_count']
tms_data['client_move_or_flip']

KeyError: 'company_code'

In [2]:
df1 = pd.DataFrame(data = {
    "schema":['A','A', 'B'],
    "customer":['C1', 'C2', 'C3'],
    "license":[1,2,3]
})

In [3]:
df2 = pd.DataFrame(data = {
    "schema":['A','A', 'B'],
    "customer":['C_1', 'C2', 'C3'],
    "hour":[100, 200, 40],
    "field":['x', 'y', 'z'],
    "absence":[10,20,30]
})

In [4]:
df1

  schema customer  license
0      A       C1        1
1      A       C2        2
2      B       C3        3

In [7]:
grouped_data = df1.groupby("schema").agg(
license_count=("license", sum),
).reset_index()
grouped_data

  schema  license_count
0      A              3
1      B              3

In [5]:
df2

  schema customer  hour field  absence
0      A      C_1   100     x       10
1      A       C2   200     y       20
2      B       C3    40     z       30

In [110]:
result = pd.merge(df2, df1, on="schema", how="left")

In [111]:
result

  schema customer_x  hour field  absence customer_y  license
0      A        C_1   100     x       10         C1        1
1      A        C_1   100     x       10         C2        2
2      A         C2   200     y       20         C1        1
3      A         C2   200     y       20         C2        2
4      B         C3    40     z       30         C3        3

In [112]:
result.drop_duplicates(subset = ["schema", "customer_x", "license", "hour", 'field'])

  schema customer_x  hour field  absence customer_y  license
0      A        C_1   100     x       10         C1        1
1      A        C_1   100     x       10         C2        2
2      A         C2   200     y       20         C1        1
3      A         C2   200     y       20         C2        2
4      B         C3    40     z       30         C3        3

In [8]:
result2 = pd.merge(df2, grouped_data, on="schema", how="left")

In [9]:
result2

  schema customer  hour field  absence  license_count
0      A      C_1   100     x       10              3
1      A       C2   200     y       20              3
2      B       C3    40     z       30              3