In [36]:
import pandas as pd
import utils as U
from datetime import datetime
import numpy as np
import data_ingestion
import os
pd.set_option('display.max_columns', None)

## report handler

In [48]:
import imp
import report_handler
imp.reload(report_handler)
config = U.get_config("config.ini")

In [49]:
r_obj = report_handler.ReportHandler(config)
r_obj.transform_tms_data()
r_obj.transform_active_employee_data()
r_obj.transform_license_data()
self = r_obj

['ActiveEmployees_kcfn01cfn_2024022606.csv', 'ActiveEmployees_cust02prd_2024022606.csv', 'ActiveEmployees_cust02npr_2024022606.csv', 'ActiveEmployees_cust03prd_2024022606.csv', 'ActiveEmployees_cust03npr_2024022606.csv', 'ActiveEmployees_cust04npr_2024022606.csv', 'ActiveEmployees_cust01prd_2024022606.csv', 'ActiveEmployees_cust04prd_2024022606.csv', 'ActiveEmployees_cust01npr_2024022606.csv', 'ActiveEmployees_dcus21prd_2024022606.csv', 'ActiveEmployees_dcus21npr_2024022606.csv', 'ActiveEmployees_dcus11npr_2024022606.csv', 'ActiveEmployees_dcus14prd_2024022606.csv', 'ActiveEmployees_cust01stg_2024022606.csv', 'ActiveEmployees_dcus11prd_2024022606.csv', 'ActiveEmployees_dcus14npr_2024022606.csv']
16

In [50]:
self.tms_file_name

'TMSEntitlement_2024022606_koss01.csv'

In [51]:
r_obj.license_data

license_type,customer_name,schema_name,ABSENCE_MANAGEMENT,ACCRUALS,ACCRUALS_AND_LEAVES,ADVANCED_PLANNING_SCHEDULING,ADVANCED_SCHEDULING,COMMUNICATIONS,CORE_ANALYTICS,HC_ANALYTICS,HOURLY_TIMEKEEPING,INTERACTIVE_LICENSES,PLANNER,PRODUCT_LICENSES,SALARIED_TIMEKEEPING,TELESTAFF,WORK,WORKFORCE_CENTRAL_LICENSES,WORKFORCE_HR_EMPLOYEE,WORKFORCE_HR_INTERACTIVE_EMPLOYEE,WORKFORCE_MANAGER,WORKFORCE_MOBILE_EMPLOYEE,WORKFORCE_MOBILE_MANAGER,WORKFORCE_PROFESSIONAL_EMPLOYEE,WORKFORCE_SCHEDULER_EMPLOYEE,WORKFORCE_TABLET_EMPLOYEE,WORKFORCE_TABLET_MANAGER
0,01_supporttestsuite,t_01_ref_01,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03-kgsAPIworkshop cfn05,t_03_nonprd_03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,09supporttestsuite,t_09supporttestsuite_prd_01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1-supporttestsuite,t_1_supporttestsuite_prd_01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,121352 Canada Inc PRD,t_121352canadainc_prd_01,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13550,zaddons-qa,zaddons_nonprd_02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2625.0,NaN,NaN,NaN
13551,zellis-demo,zellis_nonprd_07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2553.0,NaN,NaN,NaN
13552,zellis-dev,zellis_nonprd_06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2641.0,NaN,NaN,NaN
13553,zeus-prd,zeus_prd_01,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13554,zipline01,zipline_int_01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2330.0,NaN,NaN,NaN

In [52]:
r_obj.license_data[["customer_name", "schema_name"]].drop_duplicates()

license_type            customer_name                  schema_name
0                 01_supporttestsuite                  t_01_ref_01
1             03-kgsAPIworkshop cfn05               t_03_nonprd_03
2                  09supporttestsuite  t_09supporttestsuite_prd_01
3                  1-supporttestsuite  t_1_supporttestsuite_prd_01
4               121352 Canada Inc PRD     t_121352canadainc_prd_01
...                               ...                          ...
13550                      zaddons-qa            zaddons_nonprd_02
13551                     zellis-demo             zellis_nonprd_07
13552                      zellis-dev             zellis_nonprd_06
13553                        zeus-prd                  zeus_prd_01
13554                       zipline01               zipline_int_01

[13555 rows x 2 columns]

In [53]:
r_obj.license_data[["schema_name"]].drop_duplicates()

license_type                  schema_name
0                             t_01_ref_01
1                          t_03_nonprd_03
2             t_09supporttestsuite_prd_01
3             t_1_supporttestsuite_prd_01
4                t_121352canadainc_prd_01
...                                   ...
13550                   zaddons_nonprd_02
13551                    zellis_nonprd_07
13552                    zellis_nonprd_06
13553                         zeus_prd_01
13554                      zipline_int_01

[13499 rows x 1 columns]

In [54]:
r_obj.active_employee_data

,customer_name,schema_name,active_employees_count
0,AMERICAN EXPRESS TMP,amerexpressuatmp1_nonprd_01,0
1,cfn1-supporttest,cfn1_nonprd_01,0
2,CFN_testing,cfn_nonprd_01,0
3,CFN_user,cfn_nonprd_02,0
4,kcfn01cfn01-qa,kcfn01cfn01_nonprd_02,1
...,...,...,...
55,NESTLE OPERATIONAL SERVICES WORLDWIDE SA TST,nestleglobal_nonprd_03,0
56,OpsMondcus14 npr02 wfm43,opsmondcus14npr02_nonprd_08,1
57,DEFAULT,tkcsowner09_06,0
58,OpsMondcus14 npr02 wfm44,opsmondcus14npr02_nonprd_09,0
59,DEFAULT,tkcsowner09_06,0

In [15]:
r_obj.active_employee_data.drop_duplicates()

,customer_name,schema_name,active_employees_count
0,adp-reference3-can-01,adp_ref_05,0
1,cust02-npr01-qa,c2_npr01_nonprd_02,8
2,ADP-canada3 NPR,canada3_nonprd_01,3
3,can-qa2 PRD,can_nonprd_03,0
4,THE CITY OF CALGARY UAT,cityofcalgaryparks_nonprd_02,432
...,...,...,...
97,univofrochester-stag1,univofrochester_nonprd_05,1078
98,VAIL CLINIC INC STG,vailhealth_nonprd_02,681
99,VERIZON WIRELESS STG1,verizon_nonprd_19,1785
100,WEGMANS FOOD MARKETS STG,wegmansfoodmarket_nonprd_04,2287
101,WELLSPAN HEALTH STG,wellspanhealth_nonprd_07,6698

In [34]:
r_obj.active_employee_data.drop_duplicates(
            subset=["customer_name", "schema_name"]
        )

,customer_name,schema_name,active_employees_count
0,adp-reference3-can-01,adp_ref_05,0
1,cust02-npr01-qa,c2_npr01_nonprd_02,8
2,ADP-canada3 NPR,canada3_nonprd_01,3
3,can-qa2 PRD,can_nonprd_03,0
4,THE CITY OF CALGARY UAT,cityofcalgaryparks_nonprd_02,432
...,...,...,...
97,univofrochester-stag1,univofrochester_nonprd_05,1078
98,VAIL CLINIC INC STG,vailhealth_nonprd_02,681
99,VERIZON WIRELESS STG1,verizon_nonprd_19,1785
100,WEGMANS FOOD MARKETS STG,wegmansfoodmarket_nonprd_04,2287
101,WELLSPAN HEALTH STG,wellspanhealth_nonprd_07,6698

In [57]:
r_obj.active_employee_data[r_obj.active_employee_data['schema_name'].str.startswith('adp') == True]

,customer_name,schema_name,active_employees_count
297,adp-internal-cfn05-master-01,adp_internal_nonprd_01,229
298,adp-internal-cfn05-frcst-master-01,adp_internal_nonprd_02,253
1111,adp-customs-cfn05-01,adp_customs_template_02,262
1112,adp-dev-cfn05-master-clone,adp_dev_cfn05_nonprd_01,180
1113,adp-development1-VAN-FIT-CFN05,adp_development1_nonprd_01,948
...,...,...,...
123,adp-reference03-dcus21,adp_ref_01,0
124,adp-utility01-nam-dcus21,adp_utility01_ref_01,0
99,adp-reference03-dcus11,adp_ref_04,0
100,adp-utility01-nam-dcus11,adp_utility01_ref_01,0
17,adp-reference03-dcus14,adp_ref_01,0

In [26]:
r_obj.active_employee_data.drop_duplicates(
            subset=["schema_name"]
        )

,customer_name,schema_name,active_employees_count
0,adp-reference3-can-01,adp_ref_05,0
1,cust02-npr01-qa,c2_npr01_nonprd_02,8
2,ADP-canada3 NPR,canada3_nonprd_01,3
3,can-qa2 PRD,can_nonprd_03,0
4,THE CITY OF CALGARY UAT,cityofcalgaryparks_nonprd_02,432
...,...,...,...
97,univofrochester-stag1,univofrochester_nonprd_05,1078
98,VAIL CLINIC INC STG,vailhealth_nonprd_02,681
99,VERIZON WIRELESS STG1,verizon_nonprd_19,1785
100,WEGMANS FOOD MARKETS STG,wegmansfoodmarket_nonprd_04,2287
101,WELLSPAN HEALTH STG,wellspanhealth_nonprd_07,6698

In [58]:
r_obj.active_employee_data[r_obj.active_employee_data["schema_name"]=="adp_ref_04"]

              customer_name schema_name  active_employees_count
153  adp-reference03-aus-01  adp_ref_04                       0
99   adp-reference03-dcus11  adp_ref_04                       0

In [45]:
r_obj.tms_data[r_obj.tms_data["schema_name"]=="wfmgr_mas_itl_nonprd_01"]

Empty DataFrame
Columns: [tenant_id, tenant_name, tenanttype, solution_id, schema_name, instance_name, environment_name, custom_tags, jdbc_url, vanity_urls, creation_date, first_creation_date, wfm_cluster_name, absence_management_entitlement, workforce_scheduler_employee_entitlement, hourly_timekeeping_entitlement, core_analytics_entitlement, hc_analytics_entitlement, advanced_scheduling_entitlement, accruals_and_leaves_entitlement, accruals_entitlement, salaried_timekeeping_entitlement, optimized_scheduling_with_forecasting_entitlement, work_entitlement, prod_envs, nonprod_envs, vendor_name]
Index: []

In [24]:
r_obj.tms_data

,tenant_id,tenant_name,tenanttype,solution_id,schema_name,instance_name,environment_name,custom_tags,jdbc_url,vanity_urls,creation_date,first_creation_date,wfm_cluster_name,absence_management_entitlement,workforce_scheduler_employee_entitlement,hourly_timekeeping_entitlement,core_analytics_entitlement,hc_analytics_entitlement,advanced_scheduling_entitlement,accruals_and_leaves_entitlement,accruals_entitlement,salaried_timekeeping_entitlement,optimized_scheduling_with_forecasting_entitlement,work_entitlement,prod_envs,nonprod_envs,vendor_name
0,18789,bwaycorp-uat,Customer Non-Production,6042806,bwaycorp_nonprd_02,npr02_ins01,npr02,BWAY CORP,jdbc:edb://cust01-npr02-ins01-wfm18-dbs-01.int...,bwaycorp-uat.npr.mykronos.com,2023-07-12 03:48:10.994,2021-05-13 08:35:19.203,cust01-npr02-ins01-wfm18-fnt.int.npr.mykronos.com,7200,0,7200,7200,0,0,0,0,0,0,0,1,1,KRONOS
1,15648,SHEPPARD MULLIN RICHTER HAMPTON LLP PRD,Customer Production,6000430,sheppardmullin_prd_01,prd09_ins01,prd09,SHEPPARD MULLIN RICHTER & HAMPTON LLP##SF-0328...,jdbc:edb://cust01-prd09-ins01-wfm12-dbs-01.int...,"sheppardmullin.prd.mykronos.com, sheppardmulli...",2022-06-01 07:01:44.514,2022-06-01 07:01:44.514,cust01-prd09-ins01-wfm12-fnt.int.prd.mykronos.com,0,0,2100,2100,0,0,0,2100,0,0,0,1,1,KRONOS
2,19703,penncolor-uat,Customer Non-Production,6132914,penncolor_nonprd_01,npr05_ins01,npr05,PENN COLOR##SF-02246748##SO-30201##,jdbc:edb://cust01-npr05-ins01-wfm10-dbs-01.int...,"penncolor-uat-SSO.npr.mykronos.com, penncolor-...",2023-11-09 11:39:55.708,2020-07-01 02:26:25.904,cust01-npr05-ins01-wfm10-fnt.int.npr.mykronos.com,575,0,575,0,0,0,0,0,0,0,400,1,1,KRONOS
3,12312,University Of CO Police Dept UAT,Customer Non-Production,6178127,UofCOPoliceDept_nonprd_01,npr07_ins01,npr07,University Of CO Police Dept##SF-02678879####,jdbc:edb://cust01-npr07-ins01-wfm13-dbs-01.int...,UofCOPoliceDept-uat.npr.mykronos.com,2021-04-19 05:23:40.031,2021-04-19 05:23:40.031,cust01-npr07-ins01-wfm13-fnt.int.npr.mykronos.com,0,0,0,0,0,0,0,0,0,0,0,0,1,KRONOS
4,2456,DELAWARE NORTH COMPANIES INCORPORATED PRD,Customer Production,6022120,delawarenorth_prd_01,prd01_ins01,prd01,"DELAWARE NORTH COMPANIES, INCORPORATED",jdbc:edb://cust01-prd01-ins01-wfm14-dbs-01.int...,"delawarenorth-sso.prd.mykronos.com, delawareno...",2019-04-08 16:34:41.819,2019-04-08 16:34:41.819,cust01-prd01-ins01-wfm14-fnt.int.prd.mykronos.com,41000,0,41000,41000,0,41000,0,0,0,41000,0,1,1,KRONOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13248,103876,dimensions-student-Bulk135n,Internal,Internal-EdSvc-Pool2,dimensions_int_36436,cfn06_ins01,cfn06,Professional Services- Customer Education##SF-...,jdbc:edb://kcfn01-cfn06-ins01-wfm13-dbs-01.int...,dimensions-student-Bulk135n.cfn.mykronos.com,2024-02-13 17:45:00.083,2023-07-29 04:45:00.405,kcfn01-cfn06-ins01-wfm13-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,1,KRONOS
13249,103877,dimensions-student-Bulk137n,Internal,Internal-EdSvc-Pool2,dimensions_int_36437,cfn06_ins01,cfn06,Professional Services- Customer Education##SF-...,jdbc:edb://kcfn01-cfn06-ins01-wfm13-dbs-01.int...,dimensions-student-Bulk137n.cfn.mykronos.com,2024-02-13 17:48:03.123,2023-07-29 04:41:55.482,kcfn01-cfn06-ins01-wfm13-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,1,KRONOS
13250,103878,dimensions-student-Bulk138n,Internal,Internal-EdSvc-Pool2,dimensions_int_36438,cfn06_ins01,cfn06,Professional Services- Customer Education##SF-...,jdbc:edb://kcfn01-cfn06-ins01-wfm13-dbs-01.int...,dimensions-student-Bulk138n.cfn.mykronos.com,2024-02-13 17:51:16.785,2023-07-29 04:48:45.591,kcfn01-cfn06-ins01-wfm13-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,1,KRONOS
13251,103879,dimensions-student-Bulk139n,Internal,Internal-EdSvc-Pool2,dimensions_int_36439,cfn06_ins01,cfn06,Professional Services- Customer Education##SF-...,jdbc:edb://kcfn01-cfn06-ins01-wfm13-dbs-01.int...,dimensions-student-Bulk139n.cfn.mykronos.com,2024-02-13 17:54:22.061,2023-07-29 04:53:15.322,kcfn01-cfn06-ins01-wfm13-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,1,KRONOS
13252,103880,dimensions-student-Bulk140n,Internal,Internal-EdSvc-Pool2,dimensions_int_36440,cfn06_ins01,cfn06,Education Services##SF-17122369##STAGING,jdbc:edb://kcfn01-cfn06-ins01-wfm13-dbs-01.int...,dimensions-student-Bulk140n.cfn.mykronos.com,2024-02-13 17:57:32.376,2023-07-28 13:25:20.811,kcfn01-cfn06-ins01-wfm13-fnt.int.cfn.mykronos.com,100000,100000,100000,100000,0,100000,100000,100000,100000,0,100000,0,1,KRONOS

In [23]:
r_obj.tms_data[["customer_name", "schem_name"]].drop_duplicates()

KeyError: "['customer_name'] not in index"

## development

In [14]:
tms_data.head()

,server_name,db_name,tenant_id,tenant_name,tenanttype,solution_id,schema_name,instance_name,environment_name,custom_tags,...,hc_analytics_entitlement,advanced_scheduling_entitlement,accruals_and_leaves_entitlement,accruals_entitlement,salaried_timekeeping_entitlement,optimized_scheduling_with_forecasting_entitlement,work_entitlement,prod_envs,nonprod_envs,vendor_name
0,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,ppas_tms,18789,bwaycorp-uat,Customer Non-Production,6042806,bwaycorp_nonprd_02,npr02_ins01,npr02,BWAY CORP,...,0,0,0,0,0,0,0,1,1,KRONOS
1,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,ppas_tms,15648,SHEPPARD MULLIN RICHTER HAMPTON LLP PRD,Customer Production,6000430,sheppardmullin_prd_01,prd09_ins01,prd09,SHEPPARD MULLIN RICHTER & HAMPTON LLP##SF-0328...,...,0,0,0,2100,0,0,0,1,1,KRONOS
2,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,ppas_tms,19703,penncolor-uat,Customer Non-Production,6132914,penncolor_nonprd_01,npr05_ins01,npr05,PENN COLOR##SF-02246748##SO-30201##,...,0,0,0,0,0,0,400,1,1,KRONOS
3,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,ppas_tms,12312,University Of CO Police Dept UAT,Customer Non-Production,6178127,UofCOPoliceDept_nonprd_01,npr07_ins01,npr07,University Of CO Police Dept##SF-02678879####,...,0,0,0,0,0,0,0,0,1,KRONOS
4,cust01-gss01-tms10-dbs-03.int.gss.mykronos.com,ppas_tms,2456,DELAWARE NORTH COMPANIES INCORPORATED PRD,Customer Production,6022120,delawarenorth_prd_01,prd01_ins01,prd01,"DELAWARE NORTH COMPANIES, INCORPORATED",...,0,41000,0,0,0,41000,0,1,1,KRONOS

In [ ]:
Company_Code
NON_PROD_TENANT_COUNTS_LESS_500
Region
TOTAL_ENTITLEMENT_EMPLOYEE_COUNT
TOTAL_USAGE_EMPLOYEE_COUNT
Client_Move_Or_Flip

In [19]:
"Client_Move_Or_Flip".lower()

'client_move_or_flip'

In [24]:
tms_data['custom_tags'].str.split(";", )

0                                              [BWAY CORP]
1        [SHEPPARD MULLIN RICHTER & HAMPTON LLP##SF-032...
2                    [PENN COLOR##SF-02246748##SO-30201##]
3          [University Of CO Police Dept##SF-02678879####]
4                 [DELAWARE NORTH COMPANIES, INCORPORATED]
                               ...
13179        [Professional Services##SF-02282900##20126##]
13180        [Professional Services##SF-02282900##20126##]
13181        [Professional Services##SF-02282900##20126##]
13182        [Professional Services##SF-02282900##20126##]
13183        [Professional Services##SF-02282900##20126##]
Name: custom_tags, Length: 13184, dtype: object

In [22]:
tms_data['company_code'] = tms_data['custom_tags'].str.split(";", )[1].str.split("-")[1]

AttributeError: 'list' object has no attribute 'str'

In [15]:
tms_data['non_prod_tenant_counts_less_500']
tms_data['region']
tms_data['total_entitlement_employee_count']
tms_data['total_usage_employee_count']
tms_data['client_move_or_flip']

KeyError: 'company_code'